.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// My style

.body {
  display: flex;

  .App-logo {
    margin: 50px 0 10px;
    max-height: 200px;
    border-radius: 2%;
  }

  .left-container {
    flex: 10%;
    padding: 20px;
    transform: translate(-330px, 0px);
    animation: slide-back 0.3s 1;

    // &:hover{   
    //   animation: slide 0.3s 1;
    //   animation-fill-mode: forwards;
    // }

    .arrow-container {
      width: 100%;
      height: 50px;
      margin-top: 50px;

      .arrow {
        filter: invert(100%);
        float: right;
        height: 40px;

        &:hover {
          height: 45px;
          cursor: pointer;
        }
      }
    }
  }

  .main-content {
    flex: 70%;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 20px;
    cursor: pointer;
    
    &_about,
    &_resume,
    &_contact {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Roboto',sans-serif;
      font-weight: 100;
      margin: 25px 0;
      height: 10px; 

      &:hover {
          font-size: 1.6rem;
      }
    }
  }
}

// Animation key frames

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide {

  from {
    transform: translate(-330px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes slide-back {

  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-330px, 0px);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  } 
}