// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// My style
@media only screen and (min-width: 0) {

  input[type='checkbox'] { 
    display: none; 
  }

  .wrap-collabsible {
     margin: 1.2rem 0; 
    } 
  
  .lbl-toggle { 
    display: block; 
    font-weight: bold; 
    font-family: monospace; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1rem; 
    color: rgb(163, 162, 162); 
    background: #ffffff; 
    cursor: pointer; 
    border-radius: 30px; 
    transition: all 0.25s ease-out; 
  } 
  
  .lbl-toggle:hover { 
    color: rgb(0, 0, 0); 
  } 
  
  .lbl-toggle::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
  } 
  
  .toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
  } 
  
  .collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
  } 
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
     max-height: none; 
  } 
  
  .toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
  } 
  
  .collapsible-content .content-inner { 
    background: rgba(255, 255, 255, 0.2); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.45); 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: .5rem 1rem; 
  } 
    
  .collapsible-content p { 
    margin-bottom: 0; 
  }

  .body {
    position: relative;
    .arrow {
      position: absolute;
      z-index: 10;
      top: 90vh;
      left: 50%;
      height: 20px;
      transform-origin: center;
      transform: rotate(90deg);
      animation: shake 4.72s 1s ease infinite;
      -webkit-animation: shake 4.72s 1s ease infinite;
    }

    .email-form {
      opacity: 0;
    }

    .about-me-page {
      width: 100%;
      height: 100vh;
      background-color: black;
      transition: background-color 0.75s;
      

      .presentaion {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
        background-color: white;
        justify-content: space-around;
        align-content: center;

        .links-container {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          z-index: 50;
          overflow: hidden;

          &_contact {
            overflow: hidden;
            width: 220px;
            white-space: nowrap;
            overflow: hidden;
            transform: translate(82px, 0);

            &.copied {
              transform: translate(0px, 0px);
              transition: transform 0.3s cubic-bezier(0.85, 0.39, 0.48, 1.12)
            }
          }

          &:hover {
            cursor: pointer;
          }

          &.is-inview {
            background-color: #ffffff;
            padding: 10px 20px;
            transition: padding  background-color 0.3s ease-in;
            -webkit-transition: padding background-color 0.3s ease-in;
            box-shadow: rgba(255, 255, 255, 0.5) 0px -12px 105px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
            .links-container_resume,
            .links-container_contact {
              color: #262626;
              transition: color 0.3s ease-in;
              -webkit-transition: color 0.3s ease-in;
            }
          }
        }

        .presentation-text {
          max-width: 1100px;
          max-height: 200px;
          margin: auto;
          padding: 0 0 0 20px;
          text-align: left;
          z-index: 5;
          h1,
          h2 {
            margin: 0 0 0 auto;
            line-height: 1;
          }
        }

        .my-photo {
          position: absolute;
          right: 10%;
          max-width: 100%;
          height: unset;
          max-height: 100%;
        }
      }

      .about-me-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 100vh; 
        width: 100vw;
        background: rgba(0, 0, 0, 0.9);
        color: white;
        opacity: 0.001;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        overflow-y: scroll;
        z-index: 10;

        .presentation-text {
          padding: 25% 15%;
          visibility: hidden;

          .projects {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;

            .project {
              display: flex;
              justify-content: center;
              align-content: center;
              background: white;
              max-height: 100px;
              flex-grow: 1;
              margin: 5px;
              padding: 10px;

              img {
                height: 30px;
                object-fit: cover;
                margin: auto;
              }
            }
          }
        }
      }

      .about-me-content.is-inview {
        opacity: 1;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;

        .presentation-text {
          visibility: visible;
        }
      }
    }

    .resume-me-page {
      width: 100vw;
      height: 100vh;
    }
  }
}

@media only screen and (min-width: 475px) {
  .body .about-me-page .about-me-content .presentation-text .projects .project img {
    height: 40px;
  }
}

@media only screen and (min-width: 769px) {
  .body {
    .about-me-page {  
      .presentaion {
        .presentation-text {
          padding: 0 15% 0 20px;
        }
      }

      .about-me-content .presentation-text .projects .project img {
        height: 60px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .body .about-me-page .about-me-content .presentation-text .projects .project img {
    height: 80px;
  }
}

// Animation key frames

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  from {
    transform: translate(-10vw, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes slide-back {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-20vw, 0px);
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(90deg);
  }
  1.78571% {
    transform: translate(0, 5px) rotate(90deg);
  }
  3.57143% {
    transform: translate(0, 0) rotate(90deg);
  }
  5.35714% {
    transform: translate(0, 5px) rotate(90deg);
  }
  7.14286% {
    transform: translate(0, 0) rotate(90deg);
  }
  8.92857% {
    transform: translate(0, 5px) rotate(90deg);
  }
  10.71429% {
    transform: translate(0, 0) rotate(90deg);
  }
  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes always-shaking {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
