@font-face {
  font-family: 'Sequel';
  font-style: normal;
  font-weight: normal;
  src: local('Sequel'), url(./fonts/Sequel.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SourceSeriPro','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3 {
    font-family: 'Sequel','sans-serif';
    font-weight: 800;
  }

  h1 {
    font-size: 4.4rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  h2 {
    font-size: 3.4rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2.4rem;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
